<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='netflixStyleSheet.css') }}" />
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <header class="headerStyle">
        {% block header %}
        <img src="{{ url_for('static', filename='logo.png') }}" class="logo" />
        <button onclick="window.location.href='http://127.0.0.1:5000/movies';">Pelis</button>
        <button onclick="window.location.href='http://127.0.0.1:5000/playlists';">Listas</button>
        <img src="{{ url_for('static', filename='pfp.jpg') }}" class="pfp" />
        {% endblock %}
    </header>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>